<configuration>
  <dllmap dll="msmpi.dll" target="mpich">
    <dllentry dll="mpich" name="MPI_Abort" target="PMPI_Abort" />
    <dllentry dll="mpich" name="MPI_Accumulate" target="PMPI_Accumulate" />
    <dllentry dll="mpich" name="MPI_Add_error_class" target="PMPI_Add_error_class" />
    <dllentry dll="mpich" name="MPI_Add_error_code" target="PMPI_Add_error_code" />
    <dllentry dll="mpich" name="MPI_Add_error_string" target="PMPI_Add_error_string" />
    <dllentry dll="mpich" name="MPI_Address" target="PMPI_Address" />
    <dllentry dll="mpich" name="MPI_Allgather" target="PMPI_Allgather" />
    <dllentry dll="mpich" name="MPI_Allgatherv" target="PMPI_Allgatherv" />
    <dllentry dll="mpich" name="MPI_Alloc_mem" target="PMPI_Alloc_mem" />
    <dllentry dll="mpich" name="MPI_Allreduce" target="PMPI_Allreduce" />
    <dllentry dll="mpich" name="MPI_Alltoall" target="PMPI_Alltoall" />
    <dllentry dll="mpich" name="MPI_Alltoallv" target="PMPI_Alltoallv" />
    <dllentry dll="mpich" name="MPI_Alltoallw" target="PMPI_Alltoallw" />
    <dllentry dll="mpich" name="MPI_Attr_delete" target="PMPI_Attr_delete" />
    <dllentry dll="mpich" name="MPI_Attr_get" target="PMPI_Attr_get" />
    <dllentry dll="mpich" name="MPI_Attr_put" target="PMPI_Attr_put" />
    <dllentry dll="mpich" name="MPI_Barrier" target="PMPI_Barrier" />
    <dllentry dll="mpich" name="MPI_Bcast" target="PMPI_Bcast" />
    <dllentry dll="mpich" name="MPI_Bsend" target="PMPI_Bsend" />
    <dllentry dll="mpich" name="MPI_Bsend_init" target="PMPI_Bsend_init" />
    <dllentry dll="mpich" name="MPI_Buffer_attach" target="PMPI_Buffer_attach" />
    <dllentry dll="mpich" name="MPI_Buffer_detach" target="PMPI_Buffer_detach" />
    <dllentry dll="mpich" name="MPI_Cancel" target="PMPI_Cancel" />
    <dllentry dll="mpich" name="MPI_Cart_coords" target="PMPI_Cart_coords" />
    <dllentry dll="mpich" name="MPI_Cart_create" target="PMPI_Cart_create" />
    <dllentry dll="mpich" name="MPI_Cart_get" target="PMPI_Cart_get" />
    <dllentry dll="mpich" name="MPI_Cart_map" target="PMPI_Cart_map" />
    <dllentry dll="mpich" name="MPI_Cart_rank" target="PMPI_Cart_rank" />
    <dllentry dll="mpich" name="MPI_Cart_shift" target="PMPI_Cart_shift" />
    <dllentry dll="mpich" name="MPI_Cart_sub" target="PMPI_Cart_sub" />
    <dllentry dll="mpich" name="MPI_Cartdim_get" target="PMPI_Cartdim_get" />
    <dllentry dll="mpich" name="MPI_Close_port" target="PMPI_Close_port" />
    <dllentry dll="mpich" name="MPI_Comm_accept" target="PMPI_Comm_accept" />
    <dllentry dll="mpich" name="MPI_Comm_c2f" target="PMPI_Comm_c2f" />
    <dllentry dll="mpich" name="MPI_Comm_call_errhandler" target="PMPI_Comm_call_errhandler" />
    <dllentry dll="mpich" name="MPI_Comm_compare" target="PMPI_Comm_compare" />
    <dllentry dll="mpich" name="MPI_Comm_connect" target="PMPI_Comm_connect" />
    <dllentry dll="mpich" name="MPI_Comm_create" target="PMPI_Comm_create" />
    <dllentry dll="mpich" name="MPI_Comm_create_errhandler" target="PMPI_Comm_create_errhandler" />
    <dllentry dll="mpich" name="MPI_Comm_create_keyval" target="PMPI_Comm_create_keyval" />
    <dllentry dll="mpich" name="MPI_Comm_delete_attr" target="PMPI_Comm_delete_attr" />
    <dllentry dll="mpich" name="MPI_Comm_disconnect" target="PMPI_Comm_disconnect" />
    <dllentry dll="mpich" name="MPI_Comm_dup" target="PMPI_Comm_dup" />
    <dllentry dll="mpich" name="MPI_Comm_f2c" target="PMPI_Comm_f2c" />
    <dllentry dll="mpich" name="MPI_Comm_free" target="PMPI_Comm_free" />
    <dllentry dll="mpich" name="MPI_Comm_free_keyval" target="PMPI_Comm_free_keyval" />
    <dllentry dll="mpich" name="MPI_Comm_get_attr" target="PMPI_Comm_get_attr" />
    <dllentry dll="mpich" name="MPI_Comm_get_errhandler" target="PMPI_Comm_get_errhandler" />
    <dllentry dll="mpich" name="MPI_Comm_get_name" target="PMPI_Comm_get_name" />
    <dllentry dll="mpich" name="MPI_Comm_get_parent" target="PMPI_Comm_get_parent" />
    <dllentry dll="mpich" name="MPI_Comm_group" target="PMPI_Comm_group" />
    <dllentry dll="mpich" name="MPI_Comm_join" target="PMPI_Comm_join" />
    <dllentry dll="mpich" name="MPI_Comm_rank" target="PMPI_Comm_rank" />
    <dllentry dll="mpich" name="MPI_Comm_remote_group" target="PMPI_Comm_remote_group" />
    <dllentry dll="mpich" name="MPI_Comm_remote_size" target="PMPI_Comm_remote_size" />
    <dllentry dll="mpich" name="MPI_Comm_set_attr" target="PMPI_Comm_set_attr" />
    <dllentry dll="mpich" name="MPI_Comm_set_errhandler" target="PMPI_Comm_set_errhandler" />
    <dllentry dll="mpich" name="MPI_Comm_set_name" target="PMPI_Comm_set_name" />
    <dllentry dll="mpich" name="MPI_Comm_size" target="PMPI_Comm_size" />
    <dllentry dll="mpich" name="MPI_Comm_spawn" target="PMPI_Comm_spawn" />
    <dllentry dll="mpich" name="MPI_Comm_spawn_multiple" target="PMPI_Comm_spawn_multiple" />
    <dllentry dll="mpich" name="MPI_Comm_split" target="PMPI_Comm_split" />
    <dllentry dll="mpich" name="MPI_Comm_test_inter" target="PMPI_Comm_test_inter" />
    <dllentry dll="mpich" name="MPI_Dims_create" target="PMPI_Dims_create" />
    <dllentry dll="mpich" name="MPI_Errhandler_c2f" target="PMPI_Errhandler_c2f" />
    <dllentry dll="mpich" name="MPI_Errhandler_create" target="PMPI_Errhandler_create" />
    <dllentry dll="mpich" name="MPI_Errhandler_f2c" target="PMPI_Errhandler_f2c" />
    <dllentry dll="mpich" name="MPI_Errhandler_free" target="PMPI_Errhandler_free" />
    <dllentry dll="mpich" name="MPI_Errhandler_get" target="PMPI_Errhandler_get" />
    <dllentry dll="mpich" name="MPI_Errhandler_set" target="PMPI_Errhandler_set" />
    <dllentry dll="mpich" name="MPI_Error_class" target="PMPI_Error_class" />
    <dllentry dll="mpich" name="MPI_Error_string" target="PMPI_Error_string" />
    <dllentry dll="mpich" name="MPI_Exscan" target="PMPI_Exscan" />
    <dllentry dll="mpich" name="MPI_File_call_errhandler" target="PMPI_File_call_errhandler" />
    <dllentry dll="mpich" name="MPI_File_close" target="PMPI_File_close" />
    <dllentry dll="mpich" name="MPI_File_create_errhandler" target="PMPI_File_create_errhandler" />
    <dllentry dll="mpich" name="MPI_File_delete" target="PMPI_File_delete" />
    <dllentry dll="mpich" name="MPI_File_get_amode" target="PMPI_File_get_amode" />
    <dllentry dll="mpich" name="MPI_File_get_atomicity" target="PMPI_File_get_atomicity" />
    <dllentry dll="mpich" name="MPI_File_get_byte_offset" target="PMPI_File_get_byte_offset" />
    <dllentry dll="mpich" name="MPI_File_get_errhandler" target="PMPI_File_get_errhandler" />
    <dllentry dll="mpich" name="MPI_File_get_group" target="PMPI_File_get_group" />
    <dllentry dll="mpich" name="MPI_File_get_info" target="PMPI_File_get_info" />
    <dllentry dll="mpich" name="MPI_File_get_position" target="PMPI_File_get_position" />
    <dllentry dll="mpich" name="MPI_File_get_position_shared" target="PMPI_File_get_position_shared" />
    <dllentry dll="mpich" name="MPI_File_get_size" target="PMPI_File_get_size" />
    <dllentry dll="mpich" name="MPI_File_get_type_extent" target="PMPI_File_get_type_extent" />
    <dllentry dll="mpich" name="MPI_File_get_view" target="PMPI_File_get_view" />
    <dllentry dll="mpich" name="MPI_File_iread" target="PMPI_File_iread" />
    <dllentry dll="mpich" name="MPI_File_iread_at" target="PMPI_File_iread_at" />
    <dllentry dll="mpich" name="MPI_File_iread_shared" target="PMPI_File_iread_shared" />
    <dllentry dll="mpich" name="MPI_File_iwrite" target="PMPI_File_iwrite" />
    <dllentry dll="mpich" name="MPI_File_iwrite_at" target="PMPI_File_iwrite_at" />
    <dllentry dll="mpich" name="MPI_File_iwrite_shared" target="PMPI_File_iwrite_shared" />
    <dllentry dll="mpich" name="MPI_File_open" target="PMPI_File_open" />
    <dllentry dll="mpich" name="MPI_File_preallocate" target="PMPI_File_preallocate" />
    <dllentry dll="mpich" name="MPI_File_read" target="PMPI_File_read" />
    <dllentry dll="mpich" name="MPI_File_read_all" target="PMPI_File_read_all" />
    <dllentry dll="mpich" name="MPI_File_read_all_begin" target="PMPI_File_read_all_begin" />
    <dllentry dll="mpich" name="MPI_File_read_all_end" target="PMPI_File_read_all_end" />
    <dllentry dll="mpich" name="MPI_File_read_at" target="PMPI_File_read_at" />
    <dllentry dll="mpich" name="MPI_File_read_at_all" target="PMPI_File_read_at_all" />
    <dllentry dll="mpich" name="MPI_File_read_at_all_begin" target="PMPI_File_read_at_all_begin" />
    <dllentry dll="mpich" name="MPI_File_read_at_all_end" target="PMPI_File_read_at_all_end" />
    <dllentry dll="mpich" name="MPI_File_read_ordered" target="PMPI_File_read_ordered" />
    <dllentry dll="mpich" name="MPI_File_read_ordered_begin" target="PMPI_File_read_ordered_begin" />
    <dllentry dll="mpich" name="MPI_File_read_ordered_end" target="PMPI_File_read_ordered_end" />
    <dllentry dll="mpich" name="MPI_File_read_shared" target="PMPI_File_read_shared" />
    <dllentry dll="mpich" name="MPI_File_seek" target="PMPI_File_seek" />
    <dllentry dll="mpich" name="MPI_File_seek_shared" target="PMPI_File_seek_shared" />
    <dllentry dll="mpich" name="MPI_File_set_atomicity" target="PMPI_File_set_atomicity" />
    <dllentry dll="mpich" name="MPI_File_set_errhandler" target="PMPI_File_set_errhandler" />
    <dllentry dll="mpich" name="MPI_File_set_info" target="PMPI_File_set_info" />
    <dllentry dll="mpich" name="MPI_File_set_size" target="PMPI_File_set_size" />
    <dllentry dll="mpich" name="MPI_File_set_view" target="PMPI_File_set_view" />
    <dllentry dll="mpich" name="MPI_File_sync" target="PMPI_File_sync" />
    <dllentry dll="mpich" name="MPI_File_write" target="PMPI_File_write" />
    <dllentry dll="mpich" name="MPI_File_write_all" target="PMPI_File_write_all" />
    <dllentry dll="mpich" name="MPI_File_write_all_begin" target="PMPI_File_write_all_begin" />
    <dllentry dll="mpich" name="MPI_File_write_all_end" target="PMPI_File_write_all_end" />
    <dllentry dll="mpich" name="MPI_File_write_at" target="PMPI_File_write_at" />
    <dllentry dll="mpich" name="MPI_File_write_at_all" target="PMPI_File_write_at_all" />
    <dllentry dll="mpich" name="MPI_File_write_at_all_begin" target="PMPI_File_write_at_all_begin" />
    <dllentry dll="mpich" name="MPI_File_write_at_all_end" target="PMPI_File_write_at_all_end" />
    <dllentry dll="mpich" name="MPI_File_write_ordered" target="PMPI_File_write_ordered" />
    <dllentry dll="mpich" name="MPI_File_write_ordered_begin" target="PMPI_File_write_ordered_begin" />
    <dllentry dll="mpich" name="MPI_File_write_ordered_end" target="PMPI_File_write_ordered_end" />
    <dllentry dll="mpich" name="MPI_File_write_shared" target="PMPI_File_write_shared" />
    <dllentry dll="mpich" name="MPI_Finalize" target="PMPI_Finalize" />
    <dllentry dll="mpich" name="MPI_Finalized" target="PMPI_Finalized" />
    <dllentry dll="mpich" name="MPI_Free_mem" target="PMPI_Free_mem" />
    <dllentry dll="mpich" name="MPI_Gather" target="PMPI_Gather" />
    <dllentry dll="mpich" name="MPI_Gatherv" target="PMPI_Gatherv" />
    <dllentry dll="mpich" name="MPI_Get" target="PMPI_Get" />
    <dllentry dll="mpich" name="MPI_Get_address" target="PMPI_Get_address" />
    <dllentry dll="mpich" name="MPI_Get_count" target="PMPI_Get_count" />
    <dllentry dll="mpich" name="MPI_Get_elements" target="PMPI_Get_elements" />
    <dllentry dll="mpich" name="MPI_Get_processor_name" target="PMPI_Get_processor_name" />
    <dllentry dll="mpich" name="MPI_Get_version" target="PMPI_Get_version" />
    <dllentry dll="mpich" name="MPI_Graph_create" target="PMPI_Graph_create" />
    <dllentry dll="mpich" name="MPI_Graph_get" target="PMPI_Graph_get" />
    <dllentry dll="mpich" name="MPI_Graph_map" target="PMPI_Graph_map" />
    <dllentry dll="mpich" name="MPI_Graph_neighbors" target="PMPI_Graph_neighbors" />
    <dllentry dll="mpich" name="MPI_Graph_neighbors_count" target="PMPI_Graph_neighbors_count" />
    <dllentry dll="mpich" name="MPI_Graphdims_get" target="PMPI_Graphdims_get" />
    <dllentry dll="mpich" name="MPI_Grequest_complete" target="PMPI_Grequest_complete" />
    <dllentry dll="mpich" name="MPI_Grequest_start" target="PMPI_Grequest_start" />
    <dllentry dll="mpich" name="MPI_Group_c2f" target="PMPI_Group_c2f" />
    <dllentry dll="mpich" name="MPI_Group_compare" target="PMPI_Group_compare" />
    <dllentry dll="mpich" name="MPI_Group_difference" target="PMPI_Group_difference" />
    <dllentry dll="mpich" name="MPI_Group_excl" target="PMPI_Group_excl" />
    <dllentry dll="mpich" name="MPI_Group_f2c" target="PMPI_Group_f2c" />
    <dllentry dll="mpich" name="MPI_Group_free" target="PMPI_Group_free" />
    <dllentry dll="mpich" name="MPI_Group_incl" target="PMPI_Group_incl" />
    <dllentry dll="mpich" name="MPI_Group_intersection" target="PMPI_Group_intersection" />
    <dllentry dll="mpich" name="MPI_Group_range_excl" target="PMPI_Group_range_excl" />
    <dllentry dll="mpich" name="MPI_Group_range_incl" target="PMPI_Group_range_incl" />
    <dllentry dll="mpich" name="MPI_Group_rank" target="PMPI_Group_rank" />
    <dllentry dll="mpich" name="MPI_Group_size" target="PMPI_Group_size" />
    <dllentry dll="mpich" name="MPI_Group_union" target="PMPI_Group_union" />
    <dllentry dll="mpich" name="MPI_Ibsend" target="PMPI_Ibsend" />
    <dllentry dll="mpich" name="MPI_Info_c2f" target="PMPI_Info_c2f" />
    <dllentry dll="mpich" name="MPI_Info_create" target="PMPI_Info_create" />
    <dllentry dll="mpich" name="MPI_Info_delete" target="PMPI_Info_delete" />
    <dllentry dll="mpich" name="MPI_Info_dup" target="PMPI_Info_dup" />
    <dllentry dll="mpich" name="MPI_Info_f2c" target="PMPI_Info_f2c" />
    <dllentry dll="mpich" name="MPI_Info_free" target="PMPI_Info_free" />
    <dllentry dll="mpich" name="MPI_Info_get" target="PMPI_Info_get" />
    <dllentry dll="mpich" name="MPI_Info_get_nkeys" target="PMPI_Info_get_nkeys" />
    <dllentry dll="mpich" name="MPI_Info_get_nthkey" target="PMPI_Info_get_nthkey" />
    <dllentry dll="mpich" name="MPI_Info_get_valuelen" target="PMPI_Info_get_valuelen" />
    <dllentry dll="mpich" name="MPI_Info_set" target="PMPI_Info_set" />
    <dllentry dll="mpich" name="MPI_Init" target="PMPI_Init" />
    <dllentry dll="mpich" name="MPI_Init_thread" target="PMPI_Init_thread" />
    <dllentry dll="mpich" name="MPI_Initialized" target="PMPI_Initialized" />
    <dllentry dll="mpich" name="MPI_Intercomm_create" target="PMPI_Intercomm_create" />
    <dllentry dll="mpich" name="MPI_Intercomm_merge" target="PMPI_Intercomm_merge" />
    <dllentry dll="mpich" name="MPI_Iprobe" target="PMPI_Iprobe" />
    <dllentry dll="mpich" name="MPI_Irecv" target="PMPI_Irecv" />
    <dllentry dll="mpich" name="MPI_Irsend" target="PMPI_Irsend" />
    <dllentry dll="mpich" name="MPI_Is_thread_main" target="PMPI_Is_thread_main" />
    <dllentry dll="mpich" name="MPI_Isend" target="PMPI_Isend" />
    <dllentry dll="mpich" name="MPI_Issend" target="PMPI_Issend" />
    <dllentry dll="mpich" name="MPI_Keyval_create" target="PMPI_Keyval_create" />
    <dllentry dll="mpich" name="MPI_Keyval_free" target="PMPI_Keyval_free" />
    <dllentry dll="mpich" name="MPI_Lookup_name" target="PMPI_Lookup_name" />
    <dllentry dll="mpich" name="MPI_Op_c2f" target="PMPI_Op_c2f" />
    <dllentry dll="mpich" name="MPI_Op_create" target="PMPI_Op_create" />
    <dllentry dll="mpich" name="MPI_Op_f2c" target="PMPI_Op_f2c" />
    <dllentry dll="mpich" name="MPI_Op_free" target="PMPI_Op_free" />
    <dllentry dll="mpich" name="MPI_Open_port" target="PMPI_Open_port" />
    <dllentry dll="mpich" name="MPI_Pack" target="PMPI_Pack" />
    <dllentry dll="mpich" name="MPI_Pack_external" target="PMPI_Pack_external" />
    <dllentry dll="mpich" name="MPI_Pack_external_size" target="PMPI_Pack_external_size" />
    <dllentry dll="mpich" name="MPI_Pack_size" target="PMPI_Pack_size" />
    <dllentry dll="mpich" name="MPI_Pcontrol" target="PMPI_Pcontrol" />
    <dllentry dll="mpich" name="MPI_Probe" target="PMPI_Probe" />
    <dllentry dll="mpich" name="MPI_Publish_name" target="PMPI_Publish_name" />
    <dllentry dll="mpich" name="MPI_Put" target="PMPI_Put" />
    <dllentry dll="mpich" name="MPI_Query_thread" target="PMPI_Query_thread" />
    <dllentry dll="mpich" name="MPI_Recv" target="PMPI_Recv" />
    <dllentry dll="mpich" name="MPI_Recv_init" target="PMPI_Recv_init" />
    <dllentry dll="mpich" name="MPI_Reduce" target="PMPI_Reduce" />
    <dllentry dll="mpich" name="MPI_Reduce_scatter" target="PMPI_Reduce_scatter" />
    <dllentry dll="mpich" name="MPI_Register_datarep" target="PMPI_Register_datarep" />
    <dllentry dll="mpich" name="MPI_Request_c2f" target="PMPI_Request_c2f" />
    <dllentry dll="mpich" name="MPI_Request_f2c" target="PMPI_Request_f2c" />
    <dllentry dll="mpich" name="MPI_Request_free" target="PMPI_Request_free" />
    <dllentry dll="mpich" name="MPI_Request_get_status" target="PMPI_Request_get_status" />
    <dllentry dll="mpich" name="MPI_Rsend" target="PMPI_Rsend" />
    <dllentry dll="mpich" name="MPI_Rsend_init" target="PMPI_Rsend_init" />
    <dllentry dll="mpich" name="MPI_Scan" target="PMPI_Scan" />
    <dllentry dll="mpich" name="MPI_Scatter" target="PMPI_Scatter" />
    <dllentry dll="mpich" name="MPI_Scatterv" target="PMPI_Scatterv" />
    <dllentry dll="mpich" name="MPI_Send" target="PMPI_Send" />
    <dllentry dll="mpich" name="MPI_Send_init" target="PMPI_Send_init" />
    <dllentry dll="mpich" name="MPI_Sendrecv" target="PMPI_Sendrecv" />
    <dllentry dll="mpich" name="MPI_Sendrecv_replace" target="PMPI_Sendrecv_replace" />
    <dllentry dll="mpich" name="MPI_Ssend" target="PMPI_Ssend" />
    <dllentry dll="mpich" name="MPI_Ssend_init" target="PMPI_Ssend_init" />
    <dllentry dll="mpich" name="MPI_Start" target="PMPI_Start" />
    <dllentry dll="mpich" name="MPI_Startall" target="PMPI_Startall" />
    <dllentry dll="mpich" name="MPI_Status_c2f" target="PMPI_Status_c2f" />
    <dllentry dll="mpich" name="MPI_Status_f2c" target="PMPI_Status_f2c" />
    <dllentry dll="mpich" name="MPI_Status_set_cancelled" target="PMPI_Status_set_cancelled" />
    <dllentry dll="mpich" name="MPI_Status_set_elements" target="PMPI_Status_set_elements" />
    <dllentry dll="mpich" name="MPI_Test" target="PMPI_Test" />
    <dllentry dll="mpich" name="MPI_Test_cancelled" target="PMPI_Test_cancelled" />
    <dllentry dll="mpich" name="MPI_Testall" target="PMPI_Testall" />
    <dllentry dll="mpich" name="MPI_Testany" target="PMPI_Testany" />
    <dllentry dll="mpich" name="MPI_Testsome" target="PMPI_Testsome" />
    <dllentry dll="mpich" name="MPI_Topo_test" target="PMPI_Topo_test" />
    <dllentry dll="mpich" name="MPI_Type_c2f" target="PMPI_Type_c2f" />
    <dllentry dll="mpich" name="MPI_Type_commit" target="PMPI_Type_commit" />
    <dllentry dll="mpich" name="MPI_Type_contiguous" target="PMPI_Type_contiguous" />
    <dllentry dll="mpich" name="MPI_Type_create_darray" target="PMPI_Type_create_darray" />
    <dllentry dll="mpich" name="MPI_Type_create_f90_complex" target="PMPI_Type_create_f90_complex" />
    <dllentry dll="mpich" name="MPI_Type_create_f90_integer" target="PMPI_Type_create_f90_integer" />
    <dllentry dll="mpich" name="MPI_Type_create_f90_real" target="PMPI_Type_create_f90_real" />
    <dllentry dll="mpich" name="MPI_Type_create_hindexed" target="PMPI_Type_create_hindexed" />
    <dllentry dll="mpich" name="MPI_Type_create_hvector" target="PMPI_Type_create_hvector" />
    <dllentry dll="mpich" name="MPI_Type_create_indexed_block" target="PMPI_Type_create_indexed_block" />
    <dllentry dll="mpich" name="MPI_Type_create_keyval" target="PMPI_Type_create_keyval" />
    <dllentry dll="mpich" name="MPI_Type_create_resized" target="PMPI_Type_create_resized" />
    <dllentry dll="mpich" name="MPI_Type_create_struct" target="PMPI_Type_create_struct" />
    <dllentry dll="mpich" name="MPI_Type_create_subarray" target="PMPI_Type_create_subarray" />
    <dllentry dll="mpich" name="MPI_Type_delete_attr" target="PMPI_Type_delete_attr" />
    <dllentry dll="mpich" name="MPI_Type_dup" target="PMPI_Type_dup" />
    <dllentry dll="mpich" name="MPI_Type_extent" target="PMPI_Type_extent" />
    <dllentry dll="mpich" name="MPI_Type_f2c" target="PMPI_Type_f2c" />
    <dllentry dll="mpich" name="MPI_Type_free" target="PMPI_Type_free" />
    <dllentry dll="mpich" name="MPI_Type_free_keyval" target="PMPI_Type_free_keyval" />
    <dllentry dll="mpich" name="MPI_Type_get_attr" target="PMPI_Type_get_attr" />
    <dllentry dll="mpich" name="MPI_Type_get_contents" target="PMPI_Type_get_contents" />
    <dllentry dll="mpich" name="MPI_Type_get_envelope" target="PMPI_Type_get_envelope" />
    <dllentry dll="mpich" name="MPI_Type_get_extent" target="PMPI_Type_get_extent" />
    <dllentry dll="mpich" name="MPI_Type_get_name" target="PMPI_Type_get_name" />
    <dllentry dll="mpich" name="MPI_Type_get_true_extent" target="PMPI_Type_get_true_extent" />
    <dllentry dll="mpich" name="MPI_Type_hindexed" target="PMPI_Type_hindexed" />
    <dllentry dll="mpich" name="MPI_Type_hvector" target="PMPI_Type_hvector" />
    <dllentry dll="mpich" name="MPI_Type_indexed" target="PMPI_Type_indexed" />
    <dllentry dll="mpich" name="MPI_Type_lb" target="PMPI_Type_lb" />
    <dllentry dll="mpich" name="MPI_Type_match_size" target="PMPI_Type_match_size" />
    <dllentry dll="mpich" name="MPI_Type_set_attr" target="PMPI_Type_set_attr" />
    <dllentry dll="mpich" name="MPI_Type_set_name" target="PMPI_Type_set_name" />
    <dllentry dll="mpich" name="MPI_Type_size" target="PMPI_Type_size" />
    <dllentry dll="mpich" name="MPI_Type_struct" target="PMPI_Type_struct" />
    <dllentry dll="mpich" name="MPI_Type_ub" target="PMPI_Type_ub" />
    <dllentry dll="mpich" name="MPI_Type_vector" target="PMPI_Type_vector" />
    <dllentry dll="mpich" name="MPI_Unpack" target="PMPI_Unpack" />
    <dllentry dll="mpich" name="MPI_Unpack_external" target="PMPI_Unpack_external" />
    <dllentry dll="mpich" name="MPI_Unpublish_name" target="PMPI_Unpublish_name" />
    <dllentry dll="mpich" name="MPI_Wait" target="PMPI_Wait" />
    <dllentry dll="mpich" name="MPI_Waitall" target="PMPI_Waitall" />
    <dllentry dll="mpich" name="MPI_Waitany" target="PMPI_Waitany" />
    <dllentry dll="mpich" name="MPI_Waitsome" target="PMPI_Waitsome" />
    <dllentry dll="mpich" name="MPI_Win_c2f" target="PMPI_Win_c2f" />
    <dllentry dll="mpich" name="MPI_Win_call_errhandler" target="PMPI_Win_call_errhandler" />
    <dllentry dll="mpich" name="MPI_Win_complete" target="PMPI_Win_complete" />
    <dllentry dll="mpich" name="MPI_Win_create" target="PMPI_Win_create" />
    <dllentry dll="mpich" name="MPI_Win_create_errhandler" target="PMPI_Win_create_errhandler" />
    <dllentry dll="mpich" name="MPI_Win_create_keyval" target="PMPI_Win_create_keyval" />
    <dllentry dll="mpich" name="MPI_Win_delete_attr" target="PMPI_Win_delete_attr" />
    <dllentry dll="mpich" name="MPI_Win_f2c" target="PMPI_Win_f2c" />
    <dllentry dll="mpich" name="MPI_Win_fence" target="PMPI_Win_fence" />
    <dllentry dll="mpich" name="MPI_Win_free" target="PMPI_Win_free" />
    <dllentry dll="mpich" name="MPI_Win_free_keyval" target="PMPI_Win_free_keyval" />
    <dllentry dll="mpich" name="MPI_Win_get_attr" target="PMPI_Win_get_attr" />
    <dllentry dll="mpich" name="MPI_Win_get_errhandler" target="PMPI_Win_get_errhandler" />
    <dllentry dll="mpich" name="MPI_Win_get_group" target="PMPI_Win_get_group" />
    <dllentry dll="mpich" name="MPI_Win_get_name" target="PMPI_Win_get_name" />
    <dllentry dll="mpich" name="MPI_Win_lock" target="PMPI_Win_lock" />
    <dllentry dll="mpich" name="MPI_Win_post" target="PMPI_Win_post" />
    <dllentry dll="mpich" name="MPI_Win_set_attr" target="PMPI_Win_set_attr" />
    <dllentry dll="mpich" name="MPI_Win_set_errhandler" target="PMPI_Win_set_errhandler" />
    <dllentry dll="mpich" name="MPI_Win_set_name" target="PMPI_Win_set_name" />
    <dllentry dll="mpich" name="MPI_Win_start" target="PMPI_Win_start" />
    <dllentry dll="mpich" name="MPI_Win_test" target="PMPI_Win_test" />
    <dllentry dll="mpich" name="MPI_Win_unlock" target="PMPI_Win_unlock" />
    <dllentry dll="mpich" name="MPI_Win_wait" target="PMPI_Win_wait" />
    <dllentry dll="mpich" name="MPI_Wtick" target="PMPI_Wtick" />
    <dllentry dll="mpich" name="MPI_Wtime" target="PMPI_Wtime" />    
  </dllmap>
</configuration>
